version: "3.0"
services:

  api:
    build:
      context: ./docker/nginx
    volumes:
      - ./api:/app
    depends_on:
      - api-php-fpm
    ports:
      - $PORT:80

  api-php-fpm:
    build:
      context: ./docker/php-fpm
    volumes:
      - ./api:/app

  db:
    build:
      context: ./docker/postgres
      dockerfile: Dockerfile
    expose:
      - "5432"
    ports:
      - $DB_PORT:5432
    volumes:
      - "./data:/var/lib/postgresql/data/pgdata"
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: $DB_NAME
      POSTGRES_USER: $DB_USER
      POSTGRES_PASSWORD: $DB_PASS
